
<div class="container">
    <div class="responsive-table">
        <table class="table table-hover table-inverse" id="table">
            <thead>
                <tr>
                    <th ng-repeat="key in keys">{{key.toUpperCase()}}</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="record in records">
                    <td ng-repeat="(key, value) in record" data-title="{{key}}"> {{ value }} </td>
                    <td data-title="ACTION">
                        <button class="btn btn-primary update" data-toggle="modal" data-target="#modalUpdate" ng-click="updateModal(record)">Update</button>
                        <button class="btn btn-danger delete" ng-click="delete(record.id,$index)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- end of table-->
    </div>
    <!-- end of responsive table-->
</div>
<div class="container">
    <nav aria-label="...">
        <ul class="pager">
            <li class="previous"><a class="loadMore" ng-click="previousPage()"><span aria-hidden="true">&larr;</span> Older</a></li>
            <li class="next"><a class="loadMore" ng-click="nextPage()">Newer <span aria-hidden="true">&rarr;</span></a></li>
        </ul>
    </nav>
</div>



<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Update Details</h4>
            </div>
            <!-- end modal-header -->
            <div class="modal-body">
                <form id="emp" class="form-horizontal">
                    <div class="form-group" ng-repeat="key in keys | filter:'!id':true">
                        <label class="col-lg-2 control-label">{{key.toUpperCase()}}</label>
                        <div class="col-lg-10">
                            <input type="text" ng-model=dataUpdate[key]>
                        </div>
                    </div>   
                </form>
            </div>
            <!-- end modal-body -->
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary updateEmpButton" type="button" ng-click="update()">Update</button>
            </div>
            <!-- end modal-footer -->
        </div>
        <!-- end modal-content -->
    </div>
    <!-- end modal-dialog -->
</div>
<!-- end myModal -->
